<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= typeof title != 'undefined' ? title : 'Default Title' %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1>My Website</h1>
        </div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/authors">Authors</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="container"><%- body %></main>

    <footer>
      <p>
        &copy; <span id="currentYear"></span> My Website. All rights reserved.
      </p>
    </footer>
    <script>
      document.getElementById("currentYear").textContent =
        new Date().getFullYear();
    </script>
    <script src="/js/main.js"></script>
  </body>
</html>
